<nav>
    <div id="text">
        HOSSEIN COFFE
    </div>
    <div id="navdiv">
        <div>
            <a href="">USER</a>
        </div>
        <div>
            <a href="">CART</a>
        </div>
        <div>
            <a href="">HOME</a>
        </div>
        <div>
            <a href="">ABOUT US</a>
        </div>
        <div>
            <a href="">SETTING</a>
        </div>
    </div>
    <aside id="sisu">
        <div id="up">
            <b>Sign up</b>
        </div>
        <div id="in">
            <b>In</b>
        </div>
    </aside>
</nav>